# https://git-scm.com/docs/git-config/2.20.0#_variables
[core]
  excludesfile = /Users/MMurphy/.gitignore_global
  editor = /usr/local/bin/vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[color]
  ui = always
[alias]
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[rebase]
  autosquash = true
