# https://git-scm.com/docs/git-config/2.20.0#_variables
[core]
  excludesfile = $HOME/.gitignore_global
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = current
[color]
  ui = always
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[rebase]
  autosquash = true

# Default to personal config for all repositories
[include]
  path = ~/.gitconfig.personal

# Override with work config for work directory
[includeIf "gitdir:~/dev/work/"]
  path = ~/.gitconfig.work

# Ensure personal config for dotfiles repository
[includeIf "gitdir:~/dev/dotfiles/"]
  path = ~/.gitconfig.personal