# -----------------------------------------------------------------------------
# Open this file in Sublime
# -----------------------------------------------------------------------------
alias dotfiles="sublime $HOME/dotfiles"
alias oa="sublime /Users/MMurphy/dotfiles/aliases"

# -----------------------------------------------------------------------------
# override `code` to open vscode-insiders instead
# -----------------------------------------------------------------------------
alias code="code-insiders"

# -----------------------------------------------------------------------------
# Unix
# -----------------------------------------------------------------------------
alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='../..'
alias ls='ls -Ga'
alias l='ls'
alias ll='ls -al'
alias lh='ls -Alh'
alias df="ls -a ~ | ag '^\.'"

# -----------------------------------------------------------------------------
# ZSH
# -----------------------------------------------------------------------------
alias szsh="source $HOME/dotfiles/.zshrc"

# -----------------------------------------------------------------------------
# Pretty print the $PATH
# -----------------------------------------------------------------------------
alias path="echo $PATH | tr -s ':' '\n'"

# -----------------------------------------------------------------------------
# git
# -----------------------------------------------------------------------------
alias ga='git add'
alias gaa='git add .'
alias gb='git for-each-ref --sort=committerdate refs/heads/ --format="%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))"'
alias gba='git branch -a'
alias gc='git commit -v'
alias gco='git checkout'
alias gnb='git checkout -b'
alias gcom='gco master'
alias gcomp='gco master; echo "Fetching master from origin/master..."; git fetch; echo "Pulling master from origin/master..."; git pull'
alias gcod='gco develop'
alias gcodp='gco develop; echo "Fetching develop from origin/develop..."; git fetch; echo "Pulling develop from origin/develop..."; git pull'
alias glg='git log --graph --pretty="format:%C(yellow)%h %Cblue%s%Cred%d  %Creset%aN %ar%Creset" --all'
alias gll='git log --format=medium'
alias gm='git merge'
alias gp='git push'
alias gpo='git push origin'
alias gpom='gpo master'
alias gpl='git pull'
alias gplo='git pull origin'
alias gplom='git pull origin master'
alias gplr='git pull --rebase'
alias gr='git rebase'
alias gri='git rebase -i'
alias grim='git rebase -i master'
alias grid='git rebase -i develop'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias grm='git rm'
alias gs='git status'
alias gss='git status -s'
alias gcne='git commit --amend --no-edit'
alias stash='git stash'
alias gsp='git stash pop'
alias ss='git stash show'
alias sc='git stash clear'
alias gfp='git fetch; git pull --rebase'
alias gfpb='git fetch; git pull --rebase; bundle --quiet'
alias gfpm='git fetch; git pull --rebase; mvn clean install'

# -----------------------------------------------------------------------------
# Gitin (https://github.com/isacikgoz/gitin)
# -----------------------------------------------------------------------------
alias gib="gitin branch --all"
alias gil="gitin log"
alias gis="gitin status"

# -----------------------------------------------------------------------------
# Git-Extras (https://github.com/tj/git-extras/blob/master/Commands.md)
# -----------------------------------------------------------------------------
alias ge="git-extras"

# -----------------------------------------------------------------------------
# Bundler
# -----------------------------------------------------------------------------
alias b="bundle"
alias be="bundle exec"
alias bake="bundle exec rake"
alias bconf="bundle config"
alias bcd="bundle config --delete"

# -----------------------------------------------------------------------------
# Rubygems
# -----------------------------------------------------------------------------
alias gi="gem install"
alias giv="gem install -v"

# -----------------------------------------------------------------------------
# Rails
# -----------------------------------------------------------------------------
alias sandbox="rails c --sandbox"
alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias reset_test_db="rake db:drop db:create db:schema:load RAILS_ENV=test"
alias log-test="tail -f log/test.log"

# -----------------------------------------------------------------------------
# Rake
# -----------------------------------------------------------------------------
alias lint="bundle exec rake lint"
alias rrg="bundle exec rake routes | ag"

# -----------------------------------------------------------------------------
# Jekyll Blog
# -----------------------------------------------------------------------------
alias startjekyll="bundle exec jekyll serve -L"
alias startjek="bundle exec jekyll serve --livereload"

# -----------------------------------------------------------------------------
# Hosts
# -----------------------------------------------------------------------------
alias edithost='sudo vi /private/etc/hosts'

# -----------------------------------------------------------------------------
# Cron
# -----------------------------------------------------------------------------
alias updatecron="bundle exec whenever --update-crontab"

# -----------------------------------------------------------------------------
# Java
# -----------------------------------------------------------------------------
alias java11="export JAVA_HOME=`/usr/libexec/java_home -v 11`; java -version"
alias java8="export JAVA_HOME=`/usr/libexec/java_home -v 1.8`; java -version"
alias mcist="mvn clean install -Dmaven.test.skip=true"
alias mci="mvn clean install"
alias mtest="mvn test"
alias jlint="./lint.sh"
alias cm="./new_migration.sh"

# -----------------------------------------------------------------------------
# Search
# -----------------------------------------------------------------------------
alias checkp="ps aux | ag "

# -----------------------------------------------------------------------------
# itermocil
# -----------------------------------------------------------------------------
alias run="itermocil"
alias run_everything="itermocil ruby_apps; itermocil react_apps; itermocil microservices"

# -----------------------------------------------------------------------------
# Other
# -----------------------------------------------------------------------------
alias iossim="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
alias python="python3"
alias pip="pip3"
