# -----------------------------------------------------------------------------
# Quick Jumps to Directories
# -----------------------------------------------------------------------------
alias dev="cd ~/dev"
alias work="cd ~/dev/work"
alias personal="cd ~/dev/personal"

# -----------------------------------------------------------------------------
# Source git aliases
# -----------------------------------------------------------------------------
source $HOME/dotfiles/aliases/.git_aliases


# -----------------------------------------------------------------------------
# Source git extras (https://github.com/tj/git-extras)
# -----------------------------------------------------------------------------
source $(brew --prefix)/opt/git-extras/share/git-extras/git-extras-completion.zsh

# -----------------------------------------------------------------------------
# Open this file in Sublime
# -----------------------------------------------------------------------------
alias dotfiles="cursor $HOME/dotfiles"
alias oa="cursor $HOME/dotfiles/aliases"

# -----------------------------------------------------------------------------
# Unix
# -----------------------------------------------------------------------------
alias tlf="tail -f"                   # Follow file output in real-time
alias ln='ln -v'                      # Create symbolic links with verbose output
alias mkdir='mkdir -p'                # Create parent directories as needed when making new directories
alias ls='ls -Ga'                     # List files with colors and include hidden files
alias l='ls'                          # Short alias for ls
alias ll='ls -al'                     # List all files in long format
alias lh='ls -Alh'                    # List all files in long format with human readable sizes
alias df="ls -a ~ | ag '^\.'"         # List all dotfiles in home directory using silver searcher

# -----------------------------------------------------------------------------
# ZSH
# -----------------------------------------------------------------------------
alias szsh="source $HOME/dotfiles/.zshrc"

# -----------------------------------------------------------------------------
# Pretty print the $PATH
# -----------------------------------------------------------------------------
alias path="echo $PATH | tr -s ':' '\n'"

# -----------------------------------------------------------------------------
# Bundler
# -----------------------------------------------------------------------------
alias b="bundle"
alias be="bundle exec"
alias bake="bundle exec rake"
alias bconf="bundle config"
alias bcd="bundle config --delete"

# -----------------------------------------------------------------------------
# Rubygems
# -----------------------------------------------------------------------------
alias gi="gem install"
alias giv="gem install -v"

# -----------------------------------------------------------------------------
# Rails
# -----------------------------------------------------------------------------
alias sandbox="rails c --sandbox"
alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias reset_test_db="rake db:drop db:create db:schema:load RAILS_ENV=test"
alias log-test="tail -f log/test.log"

# -----------------------------------------------------------------------------
# Rake
# -----------------------------------------------------------------------------
alias lint="bundle exec rake lint"
alias rrg="bundle exec rake routes | ag"

# -----------------------------------------------------------------------------
# Jekyll Blog
# -----------------------------------------------------------------------------
alias startjekyll="bundle exec jekyll serve -L"
alias startjek="bundle exec jekyll serve --livereload"

# -----------------------------------------------------------------------------
# Hosts
# -----------------------------------------------------------------------------
alias edithost='sudo vi /private/etc/hosts'

# -----------------------------------------------------------------------------
# Cron
# -----------------------------------------------------------------------------
alias updatecron="bundle exec whenever --update-crontab"

# -----------------------------------------------------------------------------
# Java
# -----------------------------------------------------------------------------
alias java11="export JAVA_HOME=`/usr/libexec/java_home -v 11`; java -version"
alias java8="export JAVA_HOME=`/usr/libexec/java_home -v 1.8`; java -version"
alias mcist="mvn clean install -Dmaven.test.skip=true"
alias mci="mvn clean install"
alias mtest="mvn test"
alias jlint="./lint.sh"
alias cm="./new_migration.sh"

# -----------------------------------------------------------------------------
# Search
# -----------------------------------------------------------------------------
# Search for processes in ps output using silver searcher (ag)
# Usage: checkp <search_term>
# Example: checkp nginx
alias checkp="ps aux | ag "

# -----------------------------------------------------------------------------
# Other
# -----------------------------------------------------------------------------
alias iossim="open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
alias python="python3"
alias pip="pip3"
